<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>

	<!-- start footer Area -->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Giới thiệu</h6>
						<p>
							Thương hiệu SmartWatch NVA3 thuộc sở hữu của Công ty Cổ phần MNVA3 Việt Nam. Chúng tôi là
							một trong những công ty đầu tiên tại Việt Nam cung cấp các mặt hàng về đồng hồ. Là một trong
							những đơn vị đầu tiên nhập khẩu đồng hồ tại Việt Nam. Sau nhiều năm, NVA3 đã mang đến cho
							cộng đồng yêu thích đồng hồ những sản phẩm thời trang, chất lượng.
						</p>
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Tin Tức</h6>
						<p>Tin tức sẽ sớm được cập nhật qua Email!</p>
						<div class="" id="mc_embed_signup">

							
						</div>
					</div>
				</div>
				
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Theo dõi</h6>
						<p>Tham gia các cộng đồng</p>
						<div class="footer-social d-flex align-items-center">
							<a href="https://www.facebook.com/profile.php?id=61553560440777"><i class="fa fa-facebook"></i></a>
							
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
				<p class="footer-text m-0">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
					made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" target="_blank">NVA3</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->



</body>

</html>