<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layout/layout :: admin(~{::title},~{::body})}">

<head>
	<meta charset="UTF-8">
	<title>Danh sách khách hàng</title>
</head>

<body>
	<main class="app-content">
		<div class="app-title">
			<ul class="app-breadcrumb breadcrumb side">
				<li class="breadcrumb-item active"><a href="#"><b>Danh
							sách khách hàng</a></li>
			</ul>
			<div id="clock"></div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="tile">
					<div class="tile-body">

						<div class="row element-button">
							<div class="col-sm-2">
								<a class="btn btn-delete btn-sm print-file" type="button" title="In"
									onclick="myApp.printTable()"><i class="fa fa-print"></i> In dữ liệu</a>
							</div>
							<div class="col-sm-2">
								<a class="btn btn-excel btn-sm export" href="" title="In"><i
										class="fa fa-file-excel-o"></i> Xuất Excel</a>
							</div>
							<div class="col-sm-2">
								<a class="btn btn-delete btn-sm pdf-file" type="button" title="In"><i
										class="fa fa-file-pdf-o"></i> Xuất PDF</a>
							</div>
							
						</div>
						<div id="sampleTable_wrapper"
							class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">

							<div class="row">
								<div class="col-sm-12">

									<table class="table table-hover table-bordered" id="sampleTable">
										<thead>
											<tr>
												<th width="150"><span>Họ và tên</span></th>
												<th width="250"><span>Địa chỉ</span></th>
												<th><span>Email</span></th>
												<th><span>Giới tính</span></th>
												<th width="70"><span>SĐT</span></th>
												<th><span>Trạng thái</span></th>
											
											</tr>
										</thead>
										<tbody>
											<tr th:each="kh : ${items}">

												<td th:text="${kh.hotenkh}"></td>

												<td th:text="${kh.diachi}"></td>

												<td th:text="${kh.email}"></td>
												<td th:text="${kh.gioitinh?'Nam':'Nữ'}"></td>
												<td th:text="${kh.dienthoai}"></td>
												<td> <span class="badge bg-success" th:if="${kh.trangthaikh == 1}">Hoạt
														động</span>
													<span class="badge bg-warning" th:if="${kh.trangthaikh == 2}">Tạm
														khóa</span>
													<span class="badge bg-danger" th:if="${kh.trangthaikh == 3}">Ngưng
														hoạt
														động</span>
												</td>

												


											</tr>

										</tbody>
									</table>
									<table class="table table-hover table-bordered" id="table">
										<thead>
											<tr>
												<th colspan="6"
													style="text-align: center; font-size: 25px; font-weight: bold ;">
													DANH SÁCH KHÁCH HÀNG</th>
											</tr>
											<tr>
												
								
												<th width="150"><span>Họ và tên</span></th>
												<th width="250"><span>Địa chỉ</span></th>
												<th><span>Email</span></th>
												<th><span>Giới tính</span></th>
												<th width="70"><span>SĐT</span></th>
												<th><span>Trạng thái</span></th>
											
											</tr>
										</thead>
										<tbody>
											<tr th:each="kh : ${items}">
												
												
												<td th:text="${kh.hotenkh}"></td>

												<td th:text="${kh.diachi}"></td>

												<td th:text="${kh.email}"></td>
												<td th:text="${kh.gioitinh?'Nam':'Nữ'}"></td>
												<td th:text="${kh.dienthoai}"></td>
												<td> <span class="badge bg-success" th:if="${kh.trangthaikh == 1}">Hoạt
														động</span>
													<span class="badge bg-warning" th:if="${kh.trangthaikh == 2}">Tạm
														khóa</span>
													<span class="badge bg-danger" th:if="${kh.trangthaikh == 3}">Ngưng
														hoạt
														động</span>
												</td>

												


											</tr>

										</tbody>
									</table>





								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>