<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layout/layout :: admin(~{::title},~{::body})}">

<head>
	<meta charset="UTF-8">
	<title>Quản lý | Danh mục</title>
</head>

<body>
	<main class="app-content">
		<div class="app-title">
			<ul class="app-breadcrumb breadcrumb side">
				<li class="breadcrumb-item active"><a th:href="@{/admin/qldanhmuc}"><b>
							danh mục </b></a></li>
			</ul>
			<div id="clock"></div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="tile">
					<div class="tile-body">
						<div class="row element-button">
							<div class="col-sm-2">
								<a class="btn btn-add btn-sm" title="Thêm" data-toggle="modal"
									data-target="#modaladdmuc"><i class="fa fa-plus"></i> Tạo mới danh mục</a>
							</div>


							<div class="col-sm-2">
								<a class="btn btn-delete btn-sm print-file" type="button" title="In"
									onclick="myApp.printTable()"><i class="fa fa-print"></i> In dữ liệu</a>
							</div>


							<div class="col-sm-2">

								<a class="btn btn-excel btn-sm export" title="=Xuất file excel"><i
										class="fa fa-file-excel-o"></i>
									Xuất Excel</a>
							</div>
							<div class="col-sm-2">
								<a class="btn btn-delete btn-sm pdf-file" type="button" title="Xuất file fpf"><i
										class="fa fa-file-pdf-o"></i> Xuất PDF</a>
							</div>

						</div>
						<div id="sampleTable_wrapper"
							class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">

							<div class="row">
								<div class="col-sm-12">

									<table class="table table-hover table-bordered" id="sampleTable">
										<thead>
											<tr>

												<th><span>ID</span></th>
												<th><span>Tên danh mục</span></th>

												<th width="100px"><span>Tình trạng</span></th>

												<th width="80px"><span>Chức năng</span></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="dm : ${listdanhmuc}">

												<td th:text="${dm.manhom}"></td>
												<td th:text="${dm.tennhom}"></td>
												<td><span class="badge bg-success" th:block
														th:if="${dm.trangthai == true}">Còn bán</span> <span
														class="badge bg-danger" th:block
														th:unless="${dm.trangthai == true}">Ngưng bán</span></td>
												<td><button class="btn btn-primary btn-sm trash" type="button"
														title="Xóa" th:attr="data-madm=${dm.manhom}">

														<i class="fa fa-trash-o"></i>
													</button>



													<button class="btn btn-primary btn-sm edit"
														th:onclick="'javascript:editDanhMuc(' + ${dm.manhom} + ')'">
														<i class="fa fa-edit"></i>
													</button>
													<input type="hidden" th:value="${dm.manhom}" name="madm">
												</td>
											</tr>


										</tbody>
									</table>

									<table class="table table-hover table-bordered" id="table">
										<thead>
											<tr>
												<th colspan="3"
													style="text-align: center; font-size: 25px; font-weight: bold ;">
													DANH SÁCH DANH MỤC</th>
											</tr>
											<tr>

												<th><span>ID</span></th>
												<th><span>Tên danh mục</span></th>

												<th width="100px"><span>Tình trạng</span></th>


											</tr>
										</thead>
										<tbody>
											<tr th:each="dm : ${listdanhmuc}">

												<td th:text="${dm.manhom}"></td>
												<td th:text="${dm.tennhom}"></td>
												<td><span class="badge bg-success" th:block
														th:if="${dm.trangthai == true}">Còn bán</span> <span
														class="badge bg-danger" th:block
														th:unless="${dm.trangthai == true}">Ngưng bán</span></td>

											</tr>


										</tbody>
									</table>

								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<!--
  MODAL
-->
	<div class="modal fade" id="modaledit" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
		data-keyboard="false">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<form method="post" th:action="@{/admin/qldanhmuc/updatedm}">
					<div class="modal-body">
						<div class="row">
							<div class="form-group  col-md-12">
								<span class="thong-tin-thanh-toan">
									<h5>Chỉnh sửa danh mục sản phẩm</h5>
								</span>
							</div>
						</div>
						<div class="row">

							<div class="form-group col-md-12">
								<label class="control-label">Tên danh mục</label> <input class="form-control"
									type="text" id="tendanhmuc" name="tendanhmuc" required>
							</div>

							<div class="form-group col-md-12 ">
								<label for="tinhtrang" class="control-label">Trạng thái danh mục
								</label> <select class="form-control" name="tinhtrang" id="tinhtrang">
									<option value="true">Còn bán</option>
									<option value="false">Ngưng bán</option>

								</select>
							</div>



						</div>
						<input type="hidden" name="manhom" id="manhom">
						<button class="btn btn-save" type="submit">Lưu lại</button>
						<a class="btn btn-cancel" data-dismiss="modal">Hủy bỏ</a>
						<BR>
					</div>

				</form>
			</div>
		</div>
	</div>


	<div class="modal fade" id="modaladdmuc" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
		data-keyboard="false">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<form method="post" th:action="@{/admin/qldanhmuc/themmuc}" th:object="${dm}">
					<div class="modal-body">
						<div class="row">
							<div class="form-group  col-md-12">
								<span class="thong-tin-thanh-toan">
									<h5>Thêm danh mục sản phẩm</h5>
								</span>
							</div>
						</div>
						<div class="row">

							<div class="form-group col-md-12">
								<label class="control-label">Tên danh mục</label> <input class="form-control"
									type="text" id="tendanhmuc" name="tendanhmuc" th:field="*{tennhom}" required>
								<!-- <i th:errors="*{tennhom}" class="mgs_errors"></i><br>  -->
							</div>

							<div class="form-group col-md-12 ">
								<label for="tinhtrang" class="control-label">Trạng thái danh mục
								</label> <select class="form-control" name="tinhtrang" id="tinhtrang"
									th:field="*{trangthai}">

									<option value="true">Còn bán</option>
									<option value="false">Ngưng bán</option>
									<!-- <i th:errors="*{trangthai}" class="mgs_errors"></i><br>  -->
								</select>
							</div>



						</div>

						<button class="btn btn-save" type="submit">Lưu lại</button>
						<a class="btn btn-cancel" data-dismiss="modal">Hủy bỏ</a>
						<BR>
					</div>

				</form>
			</div>
		</div>
	</div>


</body>

</html>